*,
*::before,
*::after {
  /* border: 1px dotted red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(155, 57, 57);
  --lighter-color: rgb(151, 109, 109);
}

html,
body {
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--lighter-color);
}

h1,
.new-game-btn,
footer {
  color: white;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

header {
  align-self: stretch;
  background-color: var(--main-color);
  padding: 10px;
}

h1 {
  text-transform: uppercase;
  word-spacing: 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.score,
.player-turn,
.result {
  font-weight: bold;
  font-size: 1.8rem;
}

.board {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  justify-content: center;
  border: 10px solid rgb(89, 0, 0);
  background-color: rgb(254, 246, 246);
}

.board .cell {
  border: 2px solid black;
  font-weight: bold;
  font-size: 3rem;
  background-color: rgb(254, 246, 246);
}

.board .cell:hover {
  background-color: rgb(255, 230, 225);
}

.player1 {
  color: green;
}

.player2 {
  color: red;
}

.new-game-btn {
  border: none;
  text-transform: uppercase;
  background-color: var(--main-color);
  font-weight: bolder;
  letter-spacing: 0.05em;
  border-radius: 5px;
  padding: 20px 30px;
  box-shadow:
    rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.new-game-btn:hover {
  background-color: rgb(146, 36, 36);
}

footer {
  align-self: stretch;
  background-color: var(--main-color);
  padding: 5px;
}
